<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
<title>Error</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link
	href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"
	rel="stylesheet" />
<style type="text/css">
.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: auto;
}
</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="hero-unit center">
					<h1>
						Error: <small><font face="Tahoma" color="red">Usuario
								no válido</font></small>
					</h1>
					<br />
					<p>El usuario no se encuentra registrado o la contraseña es
						incorrecta</p>
					<p>
						<b>Pulsa para volver a la página de inicio:</b>
					</p>
					<a href="/" class="btn btn-large btn-info"><i
						class="icon-home icon-white"></i>Volver a inicio</a>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
